.parentSignup {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 1000px;
	background: #C3D898;
    box-shadow: 5px 3px 5px black;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.input1{
    width: 375px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
    padding-left: 25px;
    background: transparent;
    border: 1px solid black;
    outline: none;
}
    
.submit{
    cursor: pointer;
    width: 300px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
    border: 1px solid black;
    outline: none;
    color: white;
    background: #1C3144;
    margin: 30px;
}

.submit:hover{
    text-decoration: underline;
}