.parentSignup {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 1000px;
    background: rgb(0, 0, 0, .5);
    box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.356);
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px;
}

.input1{
    width: 375px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    padding-left: 25px;
    background: rgb(0, 0, 0, .5);
    border: 1px solid black;
    outline: none;
    color: white;
}
    
