.welcome{
    display: flex;
    height: 40px;
    width: 300px;
    margin: 15px;
    font-weight: 400px;
    font-size: 25px;
}


.sideBar{
    width: 350px;
    height: 100vh;
    background: white;
    font-size: 25px;

}

.currentUser{
    display: flex;
    height: 40px;
    width: 300px;
    margin: 20px;
    font-weight: 400px;
    text-decoration: underline;
}

.homeInfo{
    display: flex;
    height: 40px;
    width: 400px;
    margin: 10px;
    font-weight: 400px;
}

.parentHome{
    display: flex;
    flex-direction: row;
    overflow-x: hidden; 
    overflow-y: hidden;
}