.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 350px);
  
}

.notesContainer{
  display: flex;
  width: 1150px;
  height: 500px;
  margin: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 5px;

}

.singleNote{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  height: 250px;
  width: 300px;
  margin: 20px;
  outline: none;
}

.notes{
  display: flex
}

.text{
  height: 250px;
  width: 300px;
  background: rgb(255, 255, 120);
  box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.356);
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.delete1{
  cursor: pointer;
  width: 30px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
  outline: none;
  color: white;
  background: rgb(250, 21, 21);
  border-radius: 180px;
  align-self: flex-end;
  font-family: 'Roboto Condensed', sans-serif;

}
.save1{
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
  outline: none;
  color: white;
  background: rgb(21, 143, 250);
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;

}

.delete1:hover{
  text-decoration: underline
}
.save1:hover{
  text-decoration: underline
}
