.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 350px);
  
}

.notesContainer{
  display: flex;
  width: calc(100vw - 350px);
  height: 500px;
  margin: 20px;
  flex-wrap: wrap;
  overflow: auto;
}

.singleNote{
  height: 200px;
  width: 300px;
  margin: 10px;
}

.notes{
  display: flex
}
