.updateUsers{
display: flex;
flex-direction: row;
}

.container1{
    display: flex;
    height: 100vh;
    width: calc(100vw - 350px);
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}



.usersContainer{
    height: 500px;
    width: 1175px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 25px;
    color: white;
    background: rgb(0, 0, 0, .25);
}

.input{
    width: 375px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
    margin: 50px;
    padding-left: 25px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

}

.header{
    display: flex;
    flex-direction: row;
    width: 1175px;
    height: 50px;
}

.delete{
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
    outline: none;
    color: white;
    background: rgb(212, 21, 21);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.save{
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
    outline: none;
    color: white;
    background: rgb(18, 114, 199);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.delete:hover{
    text-decoration: underline
}
.save:hover{
    text-decoration: underline
}

.cell1{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 200px;
    height: 40px;
    font-size: 25px;
    border: 1px solid black;
    background: transparent;
    box-shadow: none;
    color: white;
}

.email1{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 430px;
    height: 40px;
    font-size: 25px;
    border: 1px solid black;
    background: transparent;
    box-shadow: none;
    color: white;
}

