.input{
    width: 375px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
    margin: 50px;
    padding-left: 25px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
}