.parentLogin {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.login{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 500px;
    flex-direction: column;
	background: #C3D898;
    box-shadow: 5px 3px 5px black;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.input{
    width: 375px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
    margin: 50px;
    padding-left: 25px;
    background: transparent;
    border: 1px solid black;
    outline: none;
}

.submit:hover{
   text-decoration: underline
}
