.parentLogin {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.login{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 500px;
    flex-direction: column;
    background: #D7E8BA;
    -webkit-box-shadow: 7px 0px 33px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 0px 33px -14px rgba(0,0,0,0.75);
    box-shadow: 7px 0px 33px -14px rgba(0,0,0,0.75);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 4px;
}

.input{
    width: 375px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
    margin: 50px;
    padding-left: 25px;
    border: 1px solid black;
    outline: none;
    border-radius: 4px;
    background: transparent;
    color: black;
}

.submit:hover{
    background: rgb(9, 214, 153);
    transition: .5s
}

.title{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    align-items: center;
    font-size: 100px;
    margin: 20px;
}
