.parentLogin {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.login{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 500px;
    flex-direction: column;
    background: rgb(0, 0, 0, .5);
    box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.356);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px;
}

.input{
    width: 375px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
    margin: 50px;
    padding-left: 25px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    background: rgb(0, 0, 0, .5);
    color: white;
}

.submit:hover{
   text-decoration: underline
}

.title{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    align-items: center;
    font-size: 100px;
    margin: 20px;
}
