.App{
	height: 100vh;
	width: 100vw;
    background: #7E8987;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.button{
    cursor: pointer;
    width: 100px;
	height: 50px;
	margin: 3px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
	background: #7E8987;
    border: 1px solid black;
    outline: none;
    color: white;
}
