.App{
	height: 100vh;
	width: 100vw;
	background: #7E8987
}

.navBar{
    display: flex;
    justify-content: flex-end;
    max-width: 100vw;
	padding-right: 30px;
	background: #1C3144;
    height: 50px;
    
}

.button{
    cursor: pointer;
    width: 100px;
	height: 50px;
	margin: 3px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 33px;
	background: #7E8987;
    border: 1px solid black;
    outline: none;
    color: white;
}
