.App{
	height: 100vh;
	width: 100vw;
    background: #7E8987;
    /* font-family: 'Red Hat Display', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    overflow-x: hidden; 
    overflow-y: hidden;
    background: url('754632.jpg');
    background-repeat: none;
    background-size: 100%;
    color: white;
}

.submit{
    cursor: pointer;
    width: 275px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
    outline: none;
    color: white;
    background: rgb(18, 114, 199);
    margin: 30px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;

}

.submit:hover{
    text-decoration: underline;
}